@CHARSET "UTF-8";
body{
	background-color: #f2f2f2;
	background:url(../images/common/bg.jpg) center top repeat-x !important;
	color: #6d6d6d;
	font-family: Arial,Lucida,Verdana,Helvetica,sans-serif;
}
ol,ul{
	list-style: none;
}
li{
	display: list-item;
}
a{
	color: #333;
	text-decoration: none;
}
/* ҳü */
.pMinBar{
	height: 30px;
	width:960px;
	margin:0px auto;
	background: #FAFAFA; 
	border-bottom: 1px solid #DCDCDC;
	font-size: 13px;
}
.wrap{
	width: 960px;
	margin: 0 auto;
}
.pMinav{
	float: right;
	padding-right:20px;
	line-height: 30px;
	color: #333;
}
.pMinav a {
color: #333;
text-decoration: none;
}
.pMinav .s {
font-size: 12px;
font-family: Arial;
color: #CCC;
padding: 0 6px;
}

.top {
	/* background-color:#fff; */
	height: 100px;
	padding: 0;
	margin: 0 auto;
	zoom: 1;
}
.register_l {
	float: none;
	margin: 0;
	position: relative;
	float: left;
}
.register_r {
	padding: 5px 0;
	float: none;
	margin-top:30px;
	font-size:26px;
	position: relative;
	float: left;
}
.w{
	width:800px;
	float:left;
    text-align:center;
}
.Navigation
{
	margin-top:40px;
	width:160px;
	float:left;
	margin-left: 50px;
	height:500px;
	
}
#title1 #title2 #con_title_1 #con_title_2
{
width:100px;
height:30px;
line-height:30px;
}
.p{
width:100px;
height:40px;
display:block;
line-height:40px;
float:left;
margin-right:10px;
}
#regist .mt {
	background: #f2f2f2;
	padding-right: 10px;
	position: relative;
	overflow: visible;
	margin-bottom: -1px;
	border-bottom: 1px solid #dddddd;
	height: 32px;
	line-height: 32px;
}
#regist .tab {
	height: 33px;
	padding-left: 200px;
	overflow: hidden;
}
/* ��ǰ�û� */
#regist .tab .curr {
	position: relative;
	background: #ffffff;
	color: #e4393c;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	margin-top: 0;
	box-shadow: 2px 0 2px #DDDDDD;
	border-bottom: none;
}
#regist .tab li {
	background: #f7f7f7;
	border: 1px solid #dddddd;
	margin-right: 10px;
	margin-top: 3px;
	font-size: 14px;
	width: 100px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #F79100;
	float: left;
}
#regist .tab li a {
	display: block;
	width: 100px;
	height: 34px;
}

.menu {
	width:960px;
	padding: 30px 0 20px;
	background: #fff; 
	border:1px solid #dddddd;
}
.form
{
	float:left;
}
.photo
{
	margin-top:50px;
	width:150px;
	text-align:center;
	float:left;
}
table{
	font: 14px/1.5 'SimSun','����','Tahoma';
	font-size: 20px;
	color: #333;
	margin-left:30px;
}
font{
	font-size: 14px;
}
input{
	font: 14px/1.5 'SimSun','Tahoma';
	font-size: 20px;
	color: #333;
	height: 30px;
	width: 300px;
	outline: none;
}
.sex{
	width: 15px;
	vertical-align: middle;
}
#vcode{
	width: 100px;
	font: 14px/1.5 'SimSun','Tahoma';
	font-size: 20px;
	float: left;
}
select{
	font: 14px/1.5 'SimSun','Tahoma';
	font-size: 20px;
	color: #333;
	height: 30px;
	width: 180px;
}
table .lefttd{
	text-align:center;
	width:100px;
}
table .righttd{
	text-align:left;
}


.footer{
	margin: 0 auto;
	margin-top:50px;
	text-align: center;
	clear:both;
}
.copyright {
	margin: 0 auto;
}
.img {
	vertical-align: middle;
}

.registerbtn{
	background: #e43f42;
	border: 1px solid #e43f42;
	box-shadow: inset 0 1px 0 #e43f42;
	width: 140px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	color: white;
}
.savebtn{
	background: #e43f42;
	border: 1px solid #e43f42;
	box-shadow: inset 0 1px 0 #e43f42;
	width: 140px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	color: white;
}
.backbtn
{
	background: #e43f42;
	border: 1px solid #e43f42;
	box-shadow: inset 0 1px 0 #e43f42;
	width: 140px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
	color: white;
}
.clear
{
	clear:both;
	height:0;
	line-height:0px;
}




